In [1]:
import pandas as pd
import numpy as np

In [2]:
trending = pd.read_csv('trending_by_time.csv')
trending

,record_id,region,trending_date,category_title,videos_count
0,1,France,2017-11-14 00:00:00.000000,Autos & Vehicles,8
1,2,France,2017-11-15 00:00:00.000000,Autos & Vehicles,2
2,3,France,2017-11-16 00:00:00.000000,Autos & Vehicles,6
3,4,France,2017-11-17 00:00:00.000000,Autos & Vehicles,8
4,5,France,2017-11-18 00:00:00.000000,Autos & Vehicles,4
...,...,...,...,...,...
12338,12339,United States,2018-06-10 00:00:00.000000,Travel & Events,2
12339,12340,United States,2018-06-11 00:00:00.000000,Travel & Events,2
12340,12341,United States,2018-06-12 00:00:00.000000,Travel & Events,2
12341,12342,United States,2018-06-13 00:00:00.000000,Travel & Events,2
12342,12343,United States,2018-06-14 00:00:00.000000,Travel & Events,2

In [5]:
#looking for duplicates
trending.duplicated().sum()

0

In [6]:
#looking for null values
trending.isnull().sum()

record_id         0
region            0
trending_date     0
category_title    0
videos_count      0
dtype: int64

In [7]:
#looking at data types
trending.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12343 entries, 0 to 12342
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   record_id       12343 non-null  int64
 1   region          12343 non-null  object
 2   trending_date   12343 non-null  object
 3   category_title  12343 non-null  object
 4   videos_count    12343 non-null  int64
dtypes: int64(2), object(3)
memory usage: 482.3+ KB

In [8]:
trending['trending_date'].unique()

array(['2017-11-14 00:00:00.000000', '2017-11-15 00:00:00.000000',
       '2017-11-16 00:00:00.000000', '2017-11-17 00:00:00.000000',
       '2017-11-18 00:00:00.000000', '2017-11-19 00:00:00.000000',
       '2017-11-20 00:00:00.000000', '2017-11-21 00:00:00.000000',
       '2017-11-22 00:00:00.000000', '2017-11-23 00:00:00.000000',
       '2017-11-24 00:00:00.000000', '2017-11-25 00:00:00.000000',
       '2017-11-26 00:00:00.000000', '2017-11-27 00:00:00.000000',
       '2017-11-28 00:00:00.000000', '2017-11-29 00:00:00.000000',
       '2017-11-30 00:00:00.000000', '2017-12-01 00:00:00.000000',
       '2017-12-02 00:00:00.000000', '2017-12-03 00:00:00.000000',
       '2017-12-04 00:00:00.000000', '2017-12-05 00:00:00.000000',
       '2017-12-06 00:00:00.000000', '2017-12-07 00:00:00.000000',
       '2017-12-08 00:00:00.000000', '2017-12-09 00:00:00.000000',
       '2017-12-10 00:00:00.000000', '2017-12-12 00:00:00.000000',
       '2017-12-13 00:00:00.000000', '2017-12-14 00:00:00.000000',
       '2017-12-16 00:00:00.000000', '2017-12-17 00:00:00.000000',
       '2017-12-18 00:00:00.000000', '2017-12-19 00:00:00.000000',
       '2017-12-20 00:00:00.000000', '2017-12-21 00:00:00.000000',
       '2017-12-22 00:00:00.000000', '2017-12-23 00:00:00.000000',
       '2017-12-24 00:00:00.000000', '2017-12-26 00:00:00.000000',
       '2017-12-27 00:00:00.000000', '2017-12-28 00:00:00.000000',
       '2017-12-29 00:00:00.000000', '2017-12-30 00:00:00.000000',
       '2017-12-31 00:00:00.000000', '2018-01-01 00:00:00.000000',
       '2018-01-02 00:00:00.000000', '2018-01-03 00:00:00.000000',
       '2018-01-04 00:00:00.000000', '2018-01-05 00:00:00.000000',
       '2018-01-06 00:00:00.000000', '2018-01-08 00:00:00.000000',
       '2018-01-09 00:00:00.000000', '2018-01-12 00:00:00.000000',
       '2018-01-14 00:00:00.000000', '2018-01-15 00:00:00.000000',
       '2018-01-16 00:00:00.000000', '2018-01-17 00:00:00.000000',
       '2018-01-18 00:00:00.000000', '2018-01-19 00:00:00.000000',
       '2018-01-21 00:00:00.000000', '2018-01-22 00:00:00.000000',
       '2018-01-23 00:00:00.000000', '2018-01-24 00:00:00.000000',
       '2018-01-25 00:00:00.000000', '2018-01-26 00:00:00.000000',
       '2018-01-27 00:00:00.000000', '2018-01-28 00:00:00.000000',
       '2018-01-29 00:00:00.000000', '2018-01-30 00:00:00.000000',
       '2018-01-31 00:00:00.000000', '2018-02-01 00:00:00.000000',
       '2018-02-02 00:00:00.000000', '2018-02-03 00:00:00.000000',
       '2018-02-04 00:00:00.000000', '2018-02-05 00:00:00.000000',
       '2018-02-06 00:00:00.000000', '2018-02-07 00:00:00.000000',
       '2018-02-08 00:00:00.000000', '2018-02-09 00:00:00.000000',
       '2018-02-10 00:00:00.000000', '2018-02-11 00:00:00.000000',
       '2018-02-12 00:00:00.000000', '2018-02-13 00:00:00.000000',
       '2018-02-14 00:00:00.000000', '2018-02-15 00:00:00.000000',
       '2018-02-16 00:00:00.000000', '2018-02-17 00:00:00.000000',
       '2018-02-18 00:00:00.000000', '2018-02-19 00:00:00.000000',
       '2018-02-20 00:00:00.000000', '2018-02-21 00:00:00.000000',
       '2018-02-22 00:00:00.000000', '2018-02-23 00:00:00.000000',
       '2018-02-24 00:00:00.000000', '2018-02-25 00:00:00.000000',
       '2018-02-26 00:00:00.000000', '2018-02-27 00:00:00.000000',
       '2018-02-28 00:00:00.000000', '2018-03-01 00:00:00.000000',
       '2018-03-02 00:00:00.000000', '2018-03-03 00:00:00.000000',
       '2018-03-04 00:00:00.000000', '2018-03-05 00:00:00.000000',
       '2018-03-06 00:00:00.000000', '2018-03-07 00:00:00.000000',
       '2018-03-08 00:00:00.000000', '2018-03-09 00:00:00.000000',
       '2018-03-10 00:00:00.000000', '2018-03-11 00:00:00.000000',
       '2018-03-12 00:00:00.000000', '2018-03-13 00:00:00.000000',
       '2018-03-14 00:00:00.000000', '2018-03-15 00:00:00.000000',
       '2018-03-16 00:00:00.000000', '2018-03-17 00:00:00.000000',
       '2018-03-18 00:00:00.000000', '2018-03-19 00:00:00.000000',
       '2018-03-20 00:00:00.000000', '2018-03-21 00:00:00.000000',
       '2018-03-22 00:00:00.000000', '2018-03-23 00:00:00.000000',
       '2018-03-24 00:00:00.000000', '2018-03-25 00:00:00.000000',
       '2018-03-26 00:00:00.000000', '2018-03-27 00:00:00.000000',
       '2018-03-28 00:00:00.000000', '2018-03-29 00:00:00.000000',
       '2018-03-30 00:00:00.000000', '2018-03-31 00:00:00.000000',
       '2018-04-01 00:00:00.000000', '2018-04-02 00:00:00.000000',
       '2018-04-03 00:00:00.000000', '2018-04-04 00:00:00.000000',
       '2018-04-05 00:00:00.000000', '2018-04-06 00:00:00.000000',
       '2018-04-07 00:00:00.000000', '2018-04-14 00:00:00.000000',
       '2018-04-16 00:00:00.000000', '2018-04-17 00:00:00.000000',
       '2018-04-18 00:00:00.000000', '2018-04-19 00:00:00.000000',
       '2018-04-20 00:00:00.000000', '2018-04-21 00:00:00.000000',
       '2018-04-23 00:00:00.000000', '2018-04-24 00:00:00.000000',
       '2018-04-25 00:00:00.000000', '2018-04-26 00:00:00.000000',
       '2018-04-27 00:00:00.000000', '2018-04-28 00:00:00.000000',
       '2018-04-29 00:00:00.000000', '2018-04-30 00:00:00.000000',
       '2018-05-01 00:00:00.000000', '2018-05-02 00:00:00.000000',
       '2018-05-03 00:00:00.000000', '2018-05-04 00:00:00.000000',
       '2018-05-05 00:00:00.000000', '2018-05-06 00:00:00.000000',
       '2018-05-08 00:00:00.000000', '2018-05-09 00:00:00.000000',
       '2018-05-10 00:00:00.000000', '2018-05-11 00:00:00.000000',
       '2018-05-12 00:00:00.000000', '2018-05-13 00:00:00.000000',
       '2018-05-14 00:00:00.000000', '2018-05-15 00:00:00.000000',
       '2018-05-16 00:00:00.000000', '2018-05-17 00:00:00.000000',
       '2018-05-18 00:00:00.000000', '2018-05-19 00:00:00.000000',
       '2018-05-20 00:00:00.000000', '2018-05-21 00:00:00.000000',
       '2018-05-22 00:00:00.000000', '2018-05-23 00:00:00.000000',
       '2018-05-24 00:00:00.000000', '2018-05-25 00:00:00.000000',
       '2018-05-26 00:00:00.000000', '2018-05-27 00:00:00.000000',
       '2018-05-29 00:00:00.000000', '2018-05-30 00:00:00.000000',
       '2018-05-31 00:00:00.000000', '2018-06-01 00:00:00.000000',
       '2018-06-03 00:00:00.000000', '2018-06-04 00:00:00.000000',
       '2018-06-05 00:00:00.000000', '2018-06-06 00:00:00.000000',
       '2018-06-08 00:00:00.000000', '2018-06-09 00:00:00.000000',
       '2018-06-10 00:00:00.000000', '2018-06-11 00:00:00.000000',
       '2018-06-12 00:00:00.000000', '2018-06-13 00:00:00.000000',
       '2018-06-14 00:00:00.000000', '2017-12-11 00:00:00.000000',
       '2017-12-15 00:00:00.000000', '2017-12-25 00:00:00.000000',
       '2018-01-07 00:00:00.000000', '2018-01-13 00:00:00.000000',
       '2018-01-20 00:00:00.000000', '2018-04-15 00:00:00.000000',
       '2018-04-22 00:00:00.000000', '2018-05-07 00:00:00.000000',
       '2018-05-28 00:00:00.000000', '2018-06-02 00:00:00.000000',
       '2018-06-07 00:00:00.000000'], dtype=object)

There are no missing values or duplicates.